# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#### Elementos que seran ignorados por git y no se subiran al repo ####

#Archivos generables por Eclipse
.cproject
.project
.metadata
.settings

#Carpeta de debug
Debug/

#Archivos de configuracion
.txt